<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Pet project suite" verbose="5">
    <listeners>
        <listener class-name="com.petproject.configuration.TestCustomReporter"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="com.petproject.tests.SimpleTests"/>
            <class name="com.petproject.tests.AnotherSimpleTests"/>
        </classes>
    </test>
</suite>
